<% if merchant_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_merchant_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_merchant_session_path)  %>  
  </li>
<% end %>