

<div class="container">
  <div class="row" style="margin-top: 30px;">
    
  </div><!-- end row -->
</div><!-- end container -->



<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>