<div id="wrapper">
  <%= render 'dashboards/merchant_nav' %>

  <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                      <a href="#menu-toggle" class="btn btn-info btn-xs" id="menu-toggle">Toggle Menu</a>
                        
                        <div class="row" style="margin-top: 30px;">
                            <h1>Editing Location</h1>

							<%= render 'form' %>

							<%= link_to 'Cancel', locations_path %>
                            

                      
                        </div><!-- /.row -->
                  
                    </div>
                </div><!-- /.row -->
            </div>
        </div>
        <!-- /#page-content-wrapper -->
</div><!-- end wrapper -->


<%= render 'dashboards/toggle_sidebar_script' %>